!!!5
html(lang="en")
    head
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        link(href="main.css", rel="stylesheet", type="text/css")
        script(src="http://code.jquery.com/jquery-2.0.3.min.js")
        script(src="http://192.168.0.72:8888/socket.io/socket.io.js")
        //- script(src="http://d3js.org/d3.v3.min.js")
        script(src="app.js")
    body
        != yield