h1 Arduino Kung-Fu
h3 Node.js, Harp, Socket.io, Johnny-Five, jQuery (coffee), HTML5 (jade), CSS (stylus)

button#red RED LED
button#yellow YELLOW LED
button#green GREEN LED

input#pot(type="checkbox")
| Potentiometer Control