h1 Arduino Kung-Fu
h3 Node.js, Harp, Socket.io, Johnny-Five, jQuery (coffee), HTML5 (jade), CSS (stylus)

button.start Start Sweep
button.stop Stop Sweep

button.left Pan Left
button.right Pan Right

button.reset Reset

input(type="checkbox", class="proximity", disabled="disabled")
| Proximity Monitor

.motion Motion Detected

div(id="viz")

script
    loadViz()