body
    font-family: "Helvetica"
    text-align: center
    padding: 50px 20px 0
    background: #f4f4f7
    color: #444
    margin: 0


h1
    font-size: 65px
    line-height: 1.2em
    border-bottom: #CCC solid 1px
    padding: 20px 0


h3
    font-weight: 300

.motion
    display: none
    color: red
    font-size: 30px
    margin-top: 30px
    width: 100%

.axis
    shape-rendering: crispEdges

.axis line
    stroke: #000
    stroke-width: 2px

.axis .ticks line
    stroke: #4f4
    stroke-width: 2px

.axis .ticks line.minor
    stroke: #ccc
    stroke-width:1px